.call_to_action
    .container
        .wrapper
            .call_to_action_title
                p Нечем платить ипотеку?<br> Бесплатное банкротство для&nbsp;квартир в ипотеке
                button.yellow_btn Узнать как
                    i.icon_arrowToRight
            .call_to_action_list
                ul
                    li Кому подходит?
                    li Почему бесплатно?
                    li От каких долгов вы избавитесь
                    li Возможные риски и как их избежать