.cardsBlock_style2
    .container
        .titleBlock
            h2 Несколько цифр обо мне
        .wrapper
            .cardsBlock_list
                .cardsBlock_item
                    p.cardsBlock_item--title 436
                    span.cardsBlock_item--text Человек освободил от долгов в качестве арбитражного управляющего
                .cardsBlock_item
                    p.cardsBlock_item--title 525 +
                    span.cardsBlock_item--text Млн. руб. долгов списано в рамках проведенных мной процедур банкротства
                .cardsBlock_item
                    p.cardsBlock_item--title 22
                    span.cardsBlock_item--text Региона РФ, в судах которых я успешно завершил процедуры банкротства (в том числе Москва и МО)