.cardsBlock
    .container
        .titleBlock
            h2 От каких долгов вы избавитесь<br> с&nbsp;помощью банкротства
        .wrapper
            .cardsBlock_list
                .cardsBlock_item
                    p.cardsBlock_item--title От долга по ипотеке (или от кредита под залог жилья)
                    span.cardsBlock_item--text <b>Полностью</b> будет списан основной долг, проценты, пени и штрафы. <b>Но!</b> По закону ипотечная квартира в обязательном порядке будет реализована с торгов
                .cardsBlock_item
                    p.cardsBlock_item--title От потребительских кредитов, кредитных карт, займов в МФО и пр.
                    span.cardsBlock_item--text <b>Долги</b> по потребительским кредитам, кредитным картам, займам и прочим видам кредитов также <b>будут списаны</b> в полном объеме
                .cardsBlock_item
                    p.cardsBlock_item--title От долгов по налогам, ЖКХ и проч.
                    span.cardsBlock_item--text <b>Списываются</b> все остальные <b>ваши долги</b>, за исключением долгов по алиментам и нанесенному кому-либо ущербу
            .cardsBlock_btns
                button.yellow_btn Оставить заявку