.compare
    .container
        .titleBlock
            h2 Почувствуйте разницу при банкротстве с нами <br>и с обычной юридической компанией:
        .wrapper
            .compare_container
                table
                    thead
                        tr
                            td.compare_item--titleBox Что нужно оплачивать при банкротстве
                            td.compare_item--titleBox При работе с нами
                            td.compare_item--titleBox При работе с обычной компанией по банкротству
                    tbody
                        tr.compare_item--rows
                            td.compare_item--rows_item Нотариальная доверенность
                            td.compare_item--rows_item 1 500 - 2&nbsp;000&nbsp;р.
                            td.compare_item--rows_item 1 500 - 2&nbsp;000&nbsp;р.
                        tr.compare_item--rows
                            td.compare_item--rows_item Сбор документов на банкротство
                            td.compare_item--rows_item Бесплатно
                            td.compare_item--rows_item 10 000 - 20&nbsp;000&nbsp;р.
                        tr.compare_item--rows
                            td.compare_item--rows_item Написание и подача заявления в суд
                            td.compare_item--rows_item Бесплатно
                            td.compare_item--rows_item 10 000 - 20&nbsp;000&nbsp;р.
                        tr.compare_item--rows
                            td.compare_item--rows_item Госпошлина за подачу заявления
                            td.compare_item--rows_item Бесплатно
                            td.compare_item--rows_item 300 р
                        tr.compare_item--rows
                            td.compare_item--rows_item Внесение на депозит суда вознаграждения финансового управляющего
                            td.compare_item--rows_item 25&nbsp;000&nbsp;р.
                            td.compare_item--rows_item 25&nbsp;000&nbsp;р.
                        tr.compare_item--rows
                            td.compare_item--rows_item Компенсация расходов финансового управляющего в процедуре банкротства
                            td.compare_item--rows_item Бесплатно
                            td.compare_item--rows_item 15&nbsp;000 - 20&nbsp;000&nbsp;р.
                        tr.compare_item--rows
                            td.compare_item--rows_item Оплата услуг юристов в течение всей процедуры банкротства
                            td.compare_item--rows_item Бесплатно
                            td.compare_item--rows_item 60&nbsp;000 - 120&nbsp;000&nbsp;р
                        tr.compare_item--rows
                            td.compare_item--rows_item ИТОГО ВАШИХ РАСХОДОВ
                            td.compare_item--rows_item 26&nbsp;500 - 27&nbsp;000&nbsp;р.
                            td.compare_item--rows_item 120&nbsp;000 - 200&nbsp;000&nbsp;р.
                        tr
                            td
                            td
                            td


                //.compare_item.compare_item--titles
                //    .compare_item--titleBox
                //        span Что нужно оплачивать при банкротстве
                //    .compare_item--rows
                //        .compare_item--rows_item Нотариальная доверенность
                //        .compare_item--rows_item Сбор документов на банкротство
                //        .compare_item--rows_item Написание и подача заявления в суд
                //        .compare_item--rows_item Госпошлина за подачу заявления
                //        .compare_item--rows_item Внесение на депозит суда вознаграждения финансового управляющего
                //        .compare_item--rows_item Компенсация расходов финансового управляющего в процедуре банкротства
                //        .compare_item--rows_item Оплата услуг юристов в течение всей процедуры банкротства
                //        .compare_item--rows_item ИТОГО ВАШИХ РАСХОДОВ
                //.compare_item.compare_item--we
                //    .compare_item--titleBox
                //        span При работе с нами
                //    .compare_item--rows
                //        .compare_item--rows_item 1 500 - 2 000 р.
                //        .compare_item--rows_item Бесплатно
                //        .compare_item--rows_item Бесплатно
                //        .compare_item--rows_item Бесплатно
                //        .compare_item--rows_item 25 000 р.
                //        .compare_item--rows_item Бесплатно
                //        .compare_item--rows_item Бесплатно
                //        .compare_item--rows_item 26 500 - 27 000 р.
                //.compare_item.compare_item--otherCompany
                //    .compare_item--titleBox
                //        span При работе с обычной компанией по банкротству
                //    .compare_item--rows
                //        .compare_item--rows_item 1 500 - 2 000 р.
                //        .compare_item--rows_item 10 000 - 20 000 р.
                //        .compare_item--rows_item 10 000 - 20 000 р.
                //        .compare_item--rows_item 300 р
                //        .compare_item--rows_item 25 000 р.
                //        .compare_item--rows_item 15 000 - 20 000 р.
                //        .compare_item--rows_item 60 000 - 120 000 р
                //        .compare_item--rows_item 120 000 - 200 000 р.