.firstScreen
    .container
        .wrapper
            .textBlock
                span.position Арбитражный управляющий
                span.name Фазылов Руслан Фаилович
                h1  Списание долгов с гарантией в договоре
                .checkList
                    ul
                        li Количество дел: 920
                        li СРО: Ассоциация “Меркурий”
                        li Сумма списаных долгов: 24 000 488₽
                button.modalBtn Получить консультацию
                    i.icon_arrowToRight
            .photoBlock
                .bg
                    img(src='@img/fs_bgPhoto.svg')
                img(src='@img/man_fs.png')
                .autograph
                    img(src='@img/autograph.png')