.form_1
    .container
        .wrapper
            .form_1_list
                p.form_1_list--title Получите ответы на ваши вопросы на&nbsp;бесплатной консультации
                span На консультации вы узнаете:
                ul
                    li Подходит ли Вам банкротство
                    li Пошаговый план выхода из долгов
                    li Оценку шансов на списание долгов
                    li Возможные риски и как их избежать
            .form_1_form
                form
                    p.form_1_form--title Заполните форму, чтобы попасть на консультацию
                    span.form_1_form--subtitle Вы получите актуальную информацию по вашему текущему положению
                    label Ваш телефон
                        input(type='tel' placeholder='+ 7 (999) 999 99 99')
                    button.yellow_btn(type='submit') Отправить заявку
