.header
    .container
        .wrapper
            .header_left
                .header_left--logo
                    a(href='#')
                        img(
                            src='@img/logo_black.svg'
                        )
                .header_left--selectCity
                    a.selectedCity(href='')
                        img(src='@img/marker.svg')
                        = 'Челябинск'
                    a.selectCity(href='') Ваш регион Челябинск?
            .header_right
                .header_right--phone
                    a(href='tel:#')
                        img(src='@img/phone.svg')
                        = '+7 999 888 7777'
                    a.callme(href='#') Связаться со мной
                .header_right--callback
                    button.yellow_btn Оставить заявку
                //button.btn.btn-primary(
                //    type="button"
                //    data-bs-toggle="offcanvas"
                //    data-bs-target="#offcanvasRight"
                //    aria-controls="offcanvasRight"
                //    )
                //    i.fa-solid.fa-bars
                //.offcanvas.offcanvas-end(
                //    tabindex="-1"
                //    id="offcanvasRight"
                //    aria-labelledby="offcanvasRightLabel"
                //)
                //    .offcanvas-header
                //        h5#offcanvasRightLabel Offcanvas right
                //            button(
                //                type="button"
                //                class="btn-close text-reset"
                //                data-bs-dismiss="offcanvas"
                //                aria-label="Close"
                //            )
                //    .offcanvas-body
                //        .offcanvas-body_head
                //            .offcanvas-body--phone
                //                a(href='tel:#')
                //                    img(src='@img/phone.svg')
                //                    = '+7 999 888 7777'
                //                a.callme(href='#') Связаться со мной
                //            .offcanvas-body--callback
                //                button.yellow_btn Оставить заявку