.message
    .container
        .wrapper
            .message--title
                span Почему бесплатно?
            .message--text
                p Все достаточно просто. Я прекрасно понимаю, что любой человек ипотечный кредит платит до последнего, пока есть силы. И если вы уже находитесь в такой ситуации, что у вас просрочки по ипотеке (а обычно еще и просрочки по другим кредитам), то вряд ли вы сможете самостоятельно оплатить расходы на банкротство (не секрет, что юридические фирмы и юристы-посредники берут 120-200 тыс. руб. за проведение банкротства).
                p Понимая сложность вашей ситуации, все расходы в процедуре банкротства я беру на себя (мне вы не платите ни копейки), вы оплачиваете только обязательный платеж 25 000 руб. на депозит Арбитражного суда и 1 500 - 2 000 руб. нотариусу за изготовление доверенности.
                p В соответствии с законом "О банкротстве", я, как арбитражный управляющий, при завершении банкротства получаю вознаграждение в размере 7% от стоимости реализации вашей ипотечной квартиры (а при банкротстве ипотечную квартиру не сохранить ни при каких условиях, даже если это единственное жилье - таково требование закона). Когда суд вынесет финальное определение об освобождении вас от всех долгов - вы начнете новую жизнь, а я из доходов от реализации ипотечной квартиры компенсирую себе все понесенные ранее расходы.
        .message_footer
            .message_author
                .message_author--photo
                    img(src='@img/author_photo.png')
                .message_author--text
                    span.position Арбитражный управляющий
                    span.name Фазылов Руслан Фаилович
            .message_btns
                button.yellow_btn Получить бесплатную консультацию