.portfolioCards
    .container
        .titleBlock
            h2 Примеры некоторых завершенных мной дел <br>со всех уголков России
        .portfolioCards_list
            each item in [1, 2, 3]
                .portfolioCards_item
                    .portfolioCards_item--image
                        a
                            img(src='@img/doc_preview.png')
                    .portfolioCards_item--shortInfo
                        .portfolioCards_item--shortInfo_text
                            .portfolioCards_item--shortInfo_text--dolg
                                span.title Списано долга
                                span.summ= '2 500 000' + ' руб.'
                            .portfolioCards_item--shortInfo_text--otherInfo
                                span.time Срок: 8 месяцев
                                span.city Г. Челябинск
                            .portfolioCards_item--shortInfo_text--client
                                span.title Номер дела:
                                span.number А41-109599/19
                        .portfolioCards_item--shortInfo_buttons
                            a.yellow_btn(href="#") Отрыть решение суда
        .portfolioCards_btnBlock
            a.yellow_btn.btn_nobg(href="#") Посмотреть все