.portfolio
    .container
        .titleBlock
            h2 Дела по списанию долгов
            span.subtitleBlock Количество дел в вашем регионе: 952
        .portfolio_list
            each item in [1, 2, 3, 4]
                .portfolio_item
                    .portfolio_item--image
                        a
                            img(src='@img/doc_preview.png')
                    .portfolio_item--shortInfo
                        .portfolio_item--shortInfo_text
                            .portfolio_item--shortInfo_text--dolg
                                span.title Списано долга
                                span.summ= '2 500 000' + ' руб.'
                            .portfolio_item--shortInfo_text--otherInfo
                                span.time Срок: 8 месяцев
                                span.city Г. Челябинск
                        .portfolio_item--shortInfo_buttons
                            button.yellow_btn Хочу так же
                            a.yellow_btn.btn_nobg(href="#") Подробнее
        .portfolio_btnBlock
            a.yellow_btn.btn_nobg(href="#") Посмотреть все