.videoBlock
    .container
        .titleBlock
            h2 О чем нужно знать о банкротстве
        .wrapper
            .videoBlock_messageAndMan
                .videoBlock_messageAndMan--man
                    img(src='@img/man.png')
                .videoBlock_messageAndMan--message
                    p Для того, чтобы больше <b>узнать</b> о <b>банкротстве</b>, рекомендуем Вам посмотреть наши бесплатные курсы!
            .videoBlock_video