.whoSuits
    .container
        .wrapper
            .whoSuits--title
                span Кому подходит?
            .whoSuits--text
                p Тем, у кого общая сумма всех долгов (включая ипотеку) превышает стоимость ипотечной квартиры, так как при банкротстве <b>списываются ВСЕ ваши долги, а&nbsp;ипотечная квартира - продается с торгов</b>
