@@include('modules/header.html')
<section class="firstScreen_singlePage firstScreen--house">
    <div class="firstScreen_singlePage__bg">
        <img src="@img/main-img.jpg" alt="">
    </div>
    <div class="firstScreen_singlePage__content container">
        <div class="firstScreen_singlePage__title">
            <h1>Сысерть берег</h1>
        </div>
        <div class="firstScreen_singlePage__description">
            <p>Сысерть Берег — это эко-деревня для отдыха и восстановления сил на берегу живописного Сысертского пруда.
                Здесь сочетаются природная красота и комфорт. Регулярный трансфер соединяет эко-деревню с «Фабрикой
                отдыха», где гостей ждут термальные бассейны, бани, СПА и рестораны.</p>
        </div>
    </div>
</section>

<section class="advantages">
    <div class="container advantages__container">
        <div class="advantages__list">
            <div class="advantages__item">
                <div class="advantages__item-icon">
                    <img src="@img/forest.webp" alt="">
                </div>
                <div class="advantages__item-text">
                    <p>Панорамный вид на Сысертский пруд и лес</p>
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__item-icon">
                    <img src="@img/road.webp" alt="">
                </div>
                <div class="advantages__item-text">
                    <p>1.5 часа от Екатеринбурга и 2.5 часа от Челябинска на машине</p>
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__item-icon">
                    <img src="@img/room.webp" alt="">
                </div>
                <div class="advantages__item-text">
                    <p>Стильный интерьер в скандинавском стиле</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gridContent gridContent--chess">
    <div class="gridContent__content">
        <div class="gridContent__content--image">
            <img src="@img/67871d54c1e36.webp" alt="">
        </div>
        <div class="gridContent__content--text">
            <div class="titleBlock">
                <h2>Отдыхайте с комфортом</h2>
            </div>
            <p>Зимой «Сысерть берег» превращается в уютное место для отдыха: стильные барнхаусы, теплые банные чаны и
                места для барбекю создают идеальную атмосферу.</p>
            <p>Окружение живописной природы и близость к историческому центру Сысерти дарят добрые впечатления от
                каждого дня.</p>
            <button class="btn btn--blue">Забронировать</button>
        </div>
    </div>
    <div class="gridContent__content">
        <div class="gridContent__content--image">
            <img src="@img/67871d54c1e36.webp" alt="">
        </div>
        <div class="gridContent__content--text">
            <div class="titleBlock">
                <h2>Предложение ко дню свадьбы</h2>
            </div>
            <p><b>Свадебная скидка 10%</b></p>

            <p>Празднуйте особенные моменты в эко-деревне "Сысерть Берег"!</p>

            <p>Молодожены и пары, отмечающие годовщину, получают скидку 10% на проживание в стильных барнхаусах.</p>

            <p>Акция действует в день свадьбы и 5 дней после, а также 5 дней до и после годовщины.</p>

            <p>Просто предъявите свидетельство.</p>
            <p>*Не суммируются с другими скидками и акциями.</p>

            <p>Акция действует в любой день недели.</p>
            <button class="btn btn--blue">Забронировать</button>
        </div>
    </div>
</section>

<section class="additionalServices">
    <div class="container additionalServices__container">
        <div class="additionalServices__title titleBlock">
            <h2>Дополнительные услуги</h2>
        </div>
        <ul class="additionalServices__list">
            <li>Аренда барн-хаусов</li>
            <li>Праздничные украшения</li>
            <li>Организация программы</li>
            <li>Ведущий</li>
            <li>Ди-джей</li>
            <li>Салют</li>
        </ul>
    </div>
</section>

<section class="galleryCarousel">
    <div class="container">
        <div class="swiper galleryCarousel-carousel">
            <div class="swiper-wrapper">
                @@for (var i = 0; i < 3; i++) {
                    <div class="swiper-slide">
                        <img src="@img/item_1.jpg" alt="">
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<section class="gridContent gridContent--chess">
    <div class="gridContent__content">
        <div class="gridContent__content--image">
            <img src="@img/67871d54c1e36.webp" alt="">
        </div>
        <div class="gridContent__content--text">
            <div class="titleBlock">
                <h2>Акция для детей</h2>
            </div>
            <p><b>Бесплатное проживание для детей до 12-ти лет.</b></p>
            <p>При бронировании и проживании С 7.09 по 31.12.2024 г. включительно, дети на дополнительных местах до 12-ти лет проживают бесплатно. В данной акции участвуют все номера с возможностью предоставления дополнительных мест.</p>
            <ul>
                <li>Акция действует до 31.12.2024 г. включительно</li>
                <li>Акция действует в будние и выходные дни</li>
                <li>Скидки и акции не суммируются</li>
            </ul>
            <button class="btn btn--blue">Забронировать</button>
        </div>
    </div>
</section>

<section class="readMoreHomes">
        <div class="titleBlock">
            <h2>Подробнее о домиках</h2>
        </div>
        <div class="titleWrapper">
            <p>Каждый гостевой дом имеет панорамные окна, чтобы вы могли любоваться прекрасным видом на живописный Сысертский пруд и лес.</p>
        </div>
        <div class="readMoreHomes__wrapper">
            <div class="container">
                <div class="readMoreHomes__list">
                    <p><b>В стоимость аренды входят:</b></p>
                    <ul>
                        <li>Проживание</li>
                        <li>Комплексный завтрак на 2-их</li>
                        <li>Парковка</li>
                        <li>Пользование территорией и пляжем комплекса</li>
                        <li>Бесплатное пользование услугами катка, тюбинг-трассы, парковки.</li>
                    </ul>
                </div>
                <div class="readMoreHomes__list">
                    <p><b>В каждом домике вы найдете:</b></p>
                    <ul>
                        <li>Кухню (с индукционной 1-конфорочной плитой, холодильником, чайником, посудой для приготовления, столовой посудой)</li>
                        <li>Санузел (с раковиной и душем)</li>
                        <li>Закрытый гриль у каждого домика</li>
                        <li>Минибар (по прайсу)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="readMoreHomes__footer">
            <button class="btn btn--blue">Забронировать</button>
        </div>
</section>

<section class="galleryCarousel">
    <div class="container">
        <div class="swiper galleryCarousel-carousel">
            <div class="swiper-wrapper">
                @@for (var i = 0; i < 3; i++) {
                    <div class="swiper-slide">
                        <img src="@img/item_1.jpg" alt="">
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<section class="additionalServicesCard">
    <div class="container">
        <div class="titleBlock">
            <h2>Дополнительные услуги</h2>
        </div>
        <div class="titleWrapper">
            <p>На территории расположены объекты для гостей не проживающих в домиках. Часы работы с 9-00 до 23-00</p>
        </div>
        <div class="additionalServicesCard__wrapper">
            <div class="additionalServicesCard__item">
                <p class="additionalServicesCard__item--title">Тюбинг-трасса</p>
                <p class="additionalServicesCard__item--text">Подъемник, прокат тюбингов</p>
            </div>
            <div class="additionalServicesCard__item">
                <p class="additionalServicesCard__item--title">Ресторан</p>
                <p class="additionalServicesCard__item--text">Уральская домашняя кухня</p>
            </div>
            <div class="additionalServicesCard__item">
                <p class="additionalServicesCard__item--title">Каток</p>
                <p class="additionalServicesCard__item--text">Прокат коньков, выход бесплатно</p>
            </div>
        </div>
    </div>
</section>
@@include('modules/footer.html')