html
    include modules/header
    body
        include modules/headSite
        include modules/firstScreen
        include modules/portfolio_list
        include modules/certificates
        include modules/quiz
        include modules/call_to_action
        include modules/videoBlock
        include modules/steps
        include modules/form_1
        include modules/footer