@@include('modules/header.html')

<section class="firstScreen">
    <div class="firstScreen__videoBackground">
        <video poster="@img/main-img.jpg" muted autoplay loop>
            <source src="@img/video/Optimizirovannyy_vidos.mp4" type="video/mp4">
            <source src="@img/video/new_video.webm" type="video/webm">
        </video>
    </div>
    <div class="container firstScreen__container">
        <div class="firstScreen__logo">
            <img src="@img/logotip-main.svg" alt="">
        </div>
        <div class="firstScreen__description">
            <p>Баден-Баден Сысерть — это уникальный термальный курорт, объединяющий в себе «Фабрику отдыха» с
                бассейнами, банями и СПА, и апарт-отелем, а также уютную эко-деревню для комфортного проживания на
                природе</p>
        </div>
    </div>
</section>

<section class="accommodation">
    <div class="container">
        <div class="titleBlock">
            <h2>Проживание</h2>
        </div>
        <div class="accommodation__wrapper">
            <div class="titleWrapper">
                <ul>
                    <li>Фабрика отдыха</li>
                    <li><a href="/eco.html">Эко-Деревня</a></li>
                </ul>
                <p>Гости отеля «Фабрики отдыха» могут насладиться уютными номерами с прямым выходом в термальный комплекс. Удобное расположение позволяет быстро попасть к бассейнам, баням, спа и кафе.</p>
            </div>
            <div class="swiper accommodation-slider">
                <div class="swiper-wrapper">
                    @@for (var i = 0; i < 3; i++) {
                    <div class="swiper-slide accommodation__item">
                        <div class="accommodation__image">
                            <img src="@img/item_1.jpg" alt="">
                        </div>
                        <div class="accommodation__text">
                            <div class="price">от 7 600 ₽ / cутки</div>
                            <h3>Двухэтажный сьют</h3>
                            <p>Комфортабельный номер с гостиной зоной на первом этаже и уютной спальней на втором. Идеален
                                для комфортного отдыха</p>
                            <a href="/single-accommodation.html" class="accommodation__button btn btn--border btn--hoverBlue">Забронировать</a>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section class="whoceTers" id="whoceTers">
    <div class="container">
        <div class="titleBlock">
            <h2>Водные Термы</h2>
        </div>
        <div class="whoceTers__wrapper">
            <div class="titleWrapper">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-tab btn--link active" data-bs-toggle="pill" href="#pills-grandTera" role="tab" aria-controls="pills-grandTera" aria-selected="true">Гранд Терма</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-tab btn--link" data-bs-toggle="pill" href="#pills-hydrass" role="tab" aria-controls="pills-hydrass" aria-selected="false">Гидролаунж</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-tab btn--link" data-bs-toggle="pill" href="#pills-baby" role="tab" aria-controls="pills-baby" aria-selected="false">Малышок</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-tab btn--link" data-bs-toggle="pill" href="#pills-iceFont" role="tab" aria-controls="pills-iceFont" aria-selected="false">Ледяная купель</a>
                    </li>
                </ul>
                
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-grandTera" role="tabpanel" aria-labelledby="pills-grandTera-tab">
                        <p>Наш термальный бассейн повторяет дизайн успешного курорта «Баден-Баден термы Уктус»...</p>
                    </div>
                    <div class="tab-pane fade" id="pills-hydrass" role="tabpanel" aria-labelledby="pills-hydrass-tab">
                        <p><b>Начнет работать в ближайшее время!</b></p>
                        <p>Джакузи - это идеальное место для релаксации и восстановления сил...</p>
                    </div>
                    <div class="tab-pane fade" id="pills-baby" role="tabpanel" aria-labelledby="pills-baby-tab">
                        <p><b>Начнет работать в ближайшее время!</b></p>
                        <p>Уютное и безопасное место для малышей...</p>
                    </div>
                    <div class="tab-pane fade" id="pills-iceFont" role="tabpanel" aria-labelledby="pills-iceFont-tab">
                        <p>Холодная купель у главной сауны «Паровая галерея» — идеальное завершение парения...</p>
                    </div>
                </div>
                
                <button class="btn btn--blue">Стоимость услуг</button>
            </div>
            
            <!-- Вторая группа табов с изображениями -->
            <div class="whoceTers__content tab-content" id="pills-tabContent-slides">
                <div class="tab-pane fade show active" id="pills-grandTera-slide" role="tabpanel">
                    <div class="swiper whoceTers-slider">
                        <div class="swiper-wrapper">
                            @@for (var i = 0; i < 3; i++) {
                                <div class="swiper-slide"><img src="@img/item_1.jpg" alt=""></div>
                            }
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-hydrass-slide" role="tabpanel">
                    <div class="swiper whoceTers-slider">
                        <div class="swiper-wrapper">
                            @@for (var i = 0; i < 3; i++) {
                                <div class="swiper-slide"><img src="@img/main-img.jpg" alt=""></div>
                            }
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-baby-slide" role="tabpanel">
                    <div class="swiper whoceTers-slider">
                        <div class="swiper-wrapper">
                            @@for (var i = 0; i < 3; i++) {
                                <div class="swiper-slide"><img src="@img/item_1.jpg" alt=""></div>
                            }
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-iceFont-slide" role="tabpanel">
                    <div class="swiper whoceTers-slider">
                        <div class="swiper-wrapper">
                            @@for (var i = 0; i < 3; i++) {
                                <div class="swiper-slide"><img src="@img/main-img.jpg" alt=""></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="whoceTers" id="bathCollection">
    <div class="container">
        <div class="titleBlock">
            <h2>Банная коллекция</h2>
        </div>
        <div class="whoceTers__wrapper">
            <div class="titleWrapper">
                <ul class="nav nav-pills" id="pills-bathCollection" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-tab btn--link active" data-bs-toggle="pill" href="#pills-steam" role="tab" aria-controls="pills-steam" aria-selected="true">Паровая галерея</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-tab btn--link" data-bs-toggle="pill" href="#pills-hammam" role="tab" aria-controls="pills-hammam" aria-selected="false">Хаммам</a>
                    </li>
                </ul>
                
                <div class="tab-content" id="pills-tabCollection">
                    <div class="tab-pane fade show active" id="pills-grandTera" role="tabpanel" aria-labelledby="pills-grandTera-tab">
                        <p>Наш термальный бассейн повторяет дизайн успешного курорта «Баден-Баден термы Уктус»...</p>
                    </div>
                    <div class="tab-pane fade" id="pills-hydrass" role="tabpanel" aria-labelledby="pills-hydrass-tab">
                        <p><b>Начнет работать в ближайшее время!</b></p>
                        <p>Джакузи - это идеальное место для релаксации и восстановления сил...</p>
                    </div>
                </div>
                
                <button class="btn btn--blue">Стоимость услуг</button>
            </div>
            
            <!-- Вторая группа табов с изображениями -->
            <div class="whoceTers__content tab-content" id="pills-bathCollection-slides">
                <div class="tab-pane fade show active" id="pills-steam-slide" role="tabpanel">
                    <div class="swiper whoceTers-slider slider-perPage-3">
                        <div class="swiper-wrapper">
                            @@for (var i = 0; i < 7; i++) {
                                <div class="swiper-slide photoSize-1x1"><img src="@img/item_1.jpg" alt=""></div>
                            }
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-hammam-slide" role="tabpanel">
                    <div class="swiper whoceTers-slider slider-perPage-3">
                        <div class="swiper-wrapper">
                            @@for (var i = 0; i < 7; i++) {
                                <div class="swiper-slide photoSize-1x1"><img src="@img/main-img.jpg" alt=""></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="spaGrid">
    <div class="container">
        <div class="titleBlock">
            <h2>Спа & Массаж</h2>
        </div>
        <div class="spaGrid__wrapper">
            <div class="titleWrapper">
                <p><b>Начнет работать в ближайшее время!</b></p>
                <p>Насладитесь полным расслаблением в классическом СПА кабинете или выберите СПА-кабинет «Дуэт» для двоих, где вы сможете провести время с близким человеком, наслаждаясь уникальными процедурами и атмосферой покоя.</p>
                <button class="btn btn--blue">Стоимость услуг</button>
            </div>
            <div class="spaGrid__grid">
                <div class="spaGrid__photo"><img src="@img/item_1.jpg" alt=""></div>
                <div class="spaGrid__photo"><img src="@img/item_1.jpg" alt=""></div>
                <div class="spaGrid__photo"><img src="@img/item_1.jpg" alt=""></div>
                <div class="spaGrid__photo"><img src="@img/item_1.jpg" alt=""></div>
            </div>
        </div>
    </div>
</section>

<section class="specialOffers">
    <div class="container-fluid">
        <div class="titleBlock">
            <h2>Специальные предложения</h2>
        </div>
        <div class="titleWrapper">
            <ul class="nav nav-pills" id="pills-bathCollection">
                <li class="nav-item">
                    <a class="nav-tab btn--link active" data-category="Все">Все</a>
                </li>
                <li class="nav-item">
                    <a class="nav-tab btn--link" data-category="Проживание">Проживание</a>
                </li>
                <li class="nav-item">
                    <a class="nav-tab btn--link" data-category="Отдых">Отдых</a>
                </li>
            </ul>
        </div>
        <div class="swiper specialOffers__wrapper">
            <div class="swiper-wrapper">
                @@for (var i = 0; i < 3; i++) {
                    <div data-category="Проживание" class="swiper-slide specialOffers__item swiper-slide-original">
                        <div class="specialOffers__photo">
                            <img src="@img/item_1.jpg" alt="">
                        </div>
                        <div class="specialOffers__content">
                            <h3>ПРЕДЛОЖЕНИЕ КО ДНЮ СВАДЬБЫ</h3>
                            <span class="category">Проживание</span>
                            <span class="specialOffers__item--location"><i class="fa-thin fa-location-dot"></i> Фабрика отдыха</span>
                            <a href="/single-special.html">Подробнее</a>
                        </div>
                    </div>
                }
                @@for (var i = 0; i < 4; i++) {
                    <div data-category="Отдых" class="swiper-slide specialOffers__item swiper-slide-original">
                        <div class="specialOffers__photo">
                            <img src="@img/item_1.jpg" alt="">
                        </div>
                        <div class="specialOffers__content">
                            <h3>ПРЕДЛОЖЕНИЕ КО ДНЮ СВАДЬБЫ</h3>
                            <span class="category">Отдых</span>
                            <span class="specialOffers__item--location"><i class="fa-thin fa-location-dot"></i> Фабрика отдыха</span>
                            <a href="/single-special.html">Подробнее</a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="specialOffers__footer">
            <a href="/special-offers.html" class="btn btn--blue">Все акции</a>
        </div>
    </div>
</section>

@@include('modules/footer.html')