html
include modules/header
body
    include modules/firstScreen
    include modules/cards_1
    include modules/who_suits
    include modules/compare
    include modules/message
    include modules/cards_2
    include modules/portfolio_cards
    include modules/question_answer
    include modules/form_1
    include modules/footer