$mainColor: #FFF355
$hoverColor: #FFF578

@mixin titleBlock()
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  margin-bottom: 15px
  h2
    @include h2()
    text-align: center
    margin-bottom: 47px
  .subtitleBlock
    background: rgba(255, 243, 85, 0.5)
    border-radius: 10px
    padding: 10px 16px
    font-style: normal
    font-weight: 600
    font-size: 15px
    line-height: 18px
@mixin h2()
  font-family: 'Montserrat'
  font-weight: 700
  font-size: 24px
  line-height: 29px
  letter-spacing: 0.03em
  color: #292929
@mixin btn()
  &.yellow_btn
    background-color: $mainColor
    border: 2px solid $mainColor
    box-sizing: border-box
    padding: 16px 53px
    color: #292929
    border-radius: 10px
    font-weight: 600
    font-size: 17px
    line-height: 1em
    text-decoration: none
    display: flex
    align-items: center
    justify-content: center
    transition: background-color 0.3s
    @media screen and (max-width: 1439px)
      padding: 16px 30px
    &:hover
      background-color: $hoverColor
  &.btn_nobg
    background-color: transparent
  &.gray_btn
    background-color: rgba(41, 41, 41, 0.2)
    border: 2px solid rgba(41, 41, 41, 0)
    box-sizing: border-box
    padding: 16px 53px
    color: #292929
    border-radius: 10px
    font-weight: 600
    font-size: 17px
    line-height: 1em
    text-decoration: none
    display: flex
    align-items: center
    justify-content: center
    transition: background-color 0.3s
i
  &.icon_arrowToRight
    width: 29px
    height: 16px
    display: flex
    flex-direction: row
    background: url("@img/arrow_toRight.svg")
    background-position: center

body
  font-family: 'Montserrat'

//Шапка
.header
  padding: 20px 0 25px
  .container
    .wrapper
      display: flex
      flex-direction: row
      justify-content: space-between
      @media (max-width: 428px)
        flex-direction: column
        gap: 20px
      .header
        &_left
          display: grid
          grid-template-columns: 160px max-content
          grid-gap: 70px
          @media (max-width: 768px)
            grid-gap: 30px
          @media (max-width: 428px)
            grid-gap: 0
            justify-content: center
          &--logo
            a
              img
                width: 100%
                height: auto
          &--selectCity
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            gap: 5px
            @media (max-width: 768px)
              display: none
            a
              text-decoration: none
              display: flex
              align-items: center
              justify-content: center
              &.selectedCity
                font-weight: 400
                font-size: 15px
                line-height: 18px
                color: #959595
                align-items: start
              &.selectCity
                font-weight: 600
                font-size: 15px
                line-height: 18px
                color: #363636
        &_right
          display: flex
          flex-direction: row
          gap: 60px
          @media (max-width: 768px)
            gap: 50px
          @media (max-width: 428px)
            gap: 20px
            flex-direction: column
          &--phone
            display: flex
            flex-direction: column
            align-items: flex-end
            @media (max-width: 428px)
              align-items: center
            a
              font-weight: 600
              font-size: 19px
              line-height: 23px
              color: #1A1A1A
              text-decoration: none
              display: flex
              gap: 10px
              align-items: center
              &.callme
                font-size: 15px
                line-height: 18px
                text-decoration: underline
                text-align: right
                margin-right: 6px
                @media (max-width: 428px)
                  display: none
          &--callback
            @media (max-width: 428px)
              display: flex
              justify-content: center
              align-items: center
            button
              @include btn
              padding: 17px 30px !important
//Подвал
.footer
  background-color: #F8F8F8
  .container
    .wrapper
      .footer
        &--logo
          margin-bottom: 30px
          img
            width: 155px
            height: auto
        &--infoCompany
          display: flex
          flex-direction: column
          gap: 8px
          p
            margin-bottom: 0
            font-weight: 500
            font-size: 12px
            line-height: 2em
            color: rgba(54, 54, 54, 0.5)
        &_row
          &--1
            display: grid
            grid-template-columns: repeat(3, max-content)
            justify-content: space-between
            grid-gap: 50px
            padding: 60px 0 40px
            @media (max-width: 428px)
              grid-template-columns: 1fr
        &_col
          &--titleCol
            margin-bottom: 0
            font-weight: 700
            font-size: 18px
            line-height: 22px
            letter-spacing: 0.03em
            color: #363636
            margin-bottom: 20px
          &--contacts
          &--container
            &_socialLink
              display: flex
              flex-direction: row
              gap: 20px
              justify-content: space-between
              @media (max-width: 428px)
                justify-content: flex-start
            &_contacts
              display: flex
              flex-direction: column
              a
                color: #1A1A1A
                &.phone
                  font-weight: 600
                  font-size: 19px
                  line-height: 23px
                  text-decoration: none
                &.callme
                  font-weight: 600
                  font-size: 15px
                  line-height: 18px
                  text-decoration-line: underline
              span
                margin-top: 29px
                a.email
                  font-weight: 500
                  font-size: 13px
                  line-height: 25px
                  color: #363636
  .footer
    &_row--2
      span
        padding: 22px 0
        font-weight: 500
        font-size: 13px
        line-height: 25px
        color: rgba(54, 54, 54, 0.5)
// Первый экран
.firstScreen
  overflow: hidden
  .container
    .wrapper
      background-color: #292929
      padding: 38px 65px 40px
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 40px
      position: relative
      border-radius: 0 0 20px 20px
      @media screen and (max-width: 1024px)
        grid-template-columns: 2fr 1fr
        overflow: hidden
      @media screen and (max-width: 768px)
        grid-template-columns: 1fr
      @media screen and (max-width: 428px)
        padding-left: 25px
        padding-right: 25px
      &::before
        content: ''
        width: 12px
        height: 12px
        background-color: #fff
        position: absolute
        bottom: 15px
        left: 16px
        border-radius: 50px
      .textBlock
        padding-top: 35px
        display: flex
        flex-direction: column
        align-items: flex-start
        span
          color: #ffffff
          &.position
            font-style: normal
            font-weight: 400
            font-size: 15px
            line-height: 25px
          &.name
            font-style: normal
            font-weight: 600
            font-size: 17px
            line-height: 21px
            letter-spacing: 0.02em
        h1
          margin: 18px 0
          color: #fff
          font-style: normal
          font-weight: 600
          font-size: 39px
          line-height: 60px
          @media screen and (max-width: 428px)
            font-size: 36px
            line-height: 1.5em
        .checkList
          margin-bottom: 42px
          ul
            display: flex
            flex-direction: column
            gap: 20px
            li
              display: list-item
              list-style-image: url(@img/check.svg)
              color: #fff
              font-weight: 400
              font-size: 15px
              line-height: 25px
        .modalBtn
          display: flex
          flex-direction: row
          gap: 11px
          justify-content: center
          align-items: center
          padding: 18px 38px
          background: $mainColor
          box-shadow: 0px 14px 20px -17px rgba(255, 255, 255, 0.5)
          border-radius: 6px
          border: none
          @media screen and (max-width: 375px)
            padding: 18px 20px
            i
              display: none
      .photoBlock
        position: relative
        display: flex
        justify-content: center
        @media screen and (max-width: 768px)
          display: none
        .bg
          img
            bottom: -41px
            left: 0
            @media screen and (max-width: 768px)
              position: relative
            @media screen and (max-width: 428px)
              width: 100%
        img
          position: absolute
          bottom: -41px
          @media screen and (max-width: 428px)
            width: 80%
        .autograph
          img, picture
            right: 0
            bottom: -20px
            @media screen and (max-width: 768px)
              right: -60px
              bottom: -30px
            @media screen and (max-width: 428px)
              width: 80%
              right: 0
//Портфолио
.portfolio
  padding: 25px 0
  .container
    .titleBlock
      @include titleBlock
    .portfolio
      &_list
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 40px
        @media screen and (max-width: 428px)
          grid-template-columns: 1fr
      &_item
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 44px
        padding: 20px 35px
        background: #FFFFFF
        box-shadow: 0px 4px 34px -13px rgba(0, 0, 0, 0.3)
        border-radius: 12px
        @media screen and (max-width: 1439px)
          grid-gap: 20px
        @media screen and (max-width: 1024px)
          grid-template-columns: 1fr
        @media screen and (max-width: 768px)
          padding: 20px 25px
        &--image
          @media screen and (max-width: 1024px)
            a
              display: flex
              align-items: center
              justify-content: center
        &--shortInfo
          display: flex
          flex-direction: column
          align-items: flex-start
          justify-content: center
          gap: 20px
          &_text
            display: flex
            flex-direction: column
            gap: 16px
            &--dolg
              display: flex
              flex-direction: column
              gap: 9px
              align-items: flex-start
              span
                &.title
                  font-weight: 400
                  font-size: 15px
                  line-height: 18px
                  color: #292929
                &.summ
                  font-weight: 600
                  font-size: 15px
                  line-height: 18px
                  color: #292929
                  padding: 10px 15px
                  background: rgba(255, 243, 85, 0.15)
                  border-radius: 10px
            &--otherInfo
              display: flex
              flex-direction: column
              gap: 9px
              align-items: flex-start
              span
                &.time
                  font-weight: 400
                  font-size: 15px
                  line-height: 18px
                &.city
                  font-weight: 400
                  font-size: 13px
                  line-height: 16px
                  color: #959595
                  display: flex
                  flex-direction: row
                  align-items: center
                  gap: 7px
                  &::before
                    display: block
                    content: ''
                    width: 5px
                    height: 5px
                    background: $mainColor
                    border-radius: 50px
          &_buttons
            display: flex
            flex-direction: column
            gap: 20px
            width: 100%
            button, a
              @include btn()
              width: 100%
      &_btnBlock
        display: flex
        align-items: center
        justify-content: center
        margin-top: 40px
        a
          @include btn()
//Сертификаты
.certificates
  padding: 25px 0
  .container
    .titleBlock
      @include titleBlock
    .certificates
      &_list
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 40px
        @media screen and (max-width: 768px)
          grid-gap: 10px
        @media screen and (max-width: 428px)
          grid-template-columns: repeat(2, 1fr)
        @media screen and (max-width: 375px)
          grid-template-columns: 1fr
      &_item
        background: #FFFFFF
        box-shadow: 0px 4px 34px -13px rgba(0, 0, 0, 0.3)
        border-radius: 12px
        padding: 25px 35px
        @media screen and (max-width: 768px)
          padding: 25px 25px
        @media screen and (max-width: 428px)
          padding: 25px 15px
        &--image
          a
            img, picture
              width: 100%
              height: auto
              filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
        &--description
          display: flex
          flex-direction: column
          gap: 10px
          margin-top: 15px
          span
            &.certificates
              &_type
                font-weight: 400
                font-size: 13px
                line-height: 16px
                color: #959595
              &_desc
                font-weight: 400
                font-size: 15px
                line-height: 18px
                color: #292929
      &_btnBlock
        display: flex
        align-items: center
        justify-content: center
        margin-top: 40px
        a
          @include btn()
//Квиз
.quizForm
  padding: 25px 0
  .container
    .titleBlock
      @include titleBlock
      .subtitle
        background: rgba(255, 243, 85, 0.1)
        border-radius: 15px
        display: flex
        justify-content: space-between
        align-items: center
        padding: 13px 43px
        width: calc(100% - 400px)
        gap: 40px
        @media screen and (max-width: 1024px)
          width: 100%
        span
          font-weight: 400
          font-size: 13px
          line-height: 20px
          color: rgba(54, 54, 54, 0.5)
    .wrapper
      .quizForm
        &_list
        &_item
          width: calc(100% - 400px)
          margin: 0 auto
          background: #FFFFFF
          border: 1px solid #F3F3F3
          box-shadow: 0px 4px 34px -13px rgba(78, 78, 78, 0.4)
          border-radius: 10px
          padding: 45px
          min-height: 425px
          display: flex
          flex-direction: column
          justify-content: space-between
          @media screen and (max-width: 1024px)
            width: 100%
          &.step
            display: none
            &_active
              display: flex
          &--step
            h3
              font-weight: 700
              font-size: 18px
              line-height: 22px
              letter-spacing: 0.03em
              color: #363636
              margin-bottom: 35px
            &_content
              display: flex
              flex-direction: column
              gap: 25px
              input
                &[type="text"]
                  background: #FFFFFF
                  border: 1px solid #F3F3F3
                  border-radius: 10px
                  padding: 16px 22px
                  color: #363636
              .form-check
                display: flex
                align-items: center
                gap: 15px
                padding: 0
                margin: 0 0 0 25px
                &-input
                  border: 3px solid $mainColor
                  width: 21px
                  height: 21px
                  &:checked
                    background: $mainColor
                  &:focus
                    box-shadow: none
                &-label
                  font-weight: 500
                  font-size: 15px
                  line-height: 1em
                  color: #292929
          &--btnNavs
            margin-top: 45px
            display: flex
            width: 100%
            flex-direction: row
            justify-content: space-between
            @media screen and (max-width: 428px)
              flex-direction: column-reverse
              gap: 20px
            button
              @include btn
//Призыв к действию
.call_to_action
  padding: 25px 0
  .container
    .wrapper
      background: #292929
      border-radius: 20px
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 40px
      padding: 80px 65px
      align-items: center
      @media screen and (max-width: 768px)
        padding: 40px 35px
      @media screen and (max-width: 428px)
        grid-template-columns: 1fr
      .call_to_action
        &_title
          p
            font-weight: 600
            font-size: 39px
            line-height: 1.5em
            color: #FFFFFF
            margin-bottom: 40px
            @media screen and (max-width: 1439px)
              font-size: 34px
            @media screen and (max-width: 1024px)
              font-size: 27px
            @media screen and (max-width: 768px)
              font-size: 21px
          button
            @include btn
            gap: 20px
        &_list
          display: flex
          align-items: center
          justify-content: center
          ul
            display: flex
            flex-direction: column
            gap: 20px
            li
              display: list-item
              list-style-image: url(@img/check.svg)
              color: #fff
              font-weight: 400
              font-size: 15px
              line-height: 25px
// блок с видео
.videoBlock
  padding: 25px 0
  .container
    .titleBlock
      @include titleBlock
    .wrapper
      height: 470px
      background: #FFFFFF
      background-image: url(@img/bg_videoBlock.png)
      background-repeat: no-repeat
      background-position: 0
      background-size: 430px 100%
      border: 1px solid #F3F3F3
      box-shadow: 0px 4px 34px -13px rgba(78, 78, 78, 0.4)
      border-radius: 10px
      display: grid
      grid-template-columns: repeat(2, 1fr)
      .videoBlock
        &_messageAndMan
          position: relative
          display: flex
          align-items: center
          justify-content: flex-end
          &--man
            position: absolute
            left: 90px
            bottom: 0
            img, picture
              width: 100%
              height: auto
          &--message
            position: relative
            background: #FFFFFF
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
            border-radius: 20px
            width: 100%
            max-width: 330px
            padding: 40px 15px
            margin-right: 90px
            margin-top: 180px
            position: relative
            p
              margin-bottom: 0
              font-weight: 400
              font-size: 15px
              line-height: 18px
              color: #292929
            &::before
              content: ''
              background-image: url(@img/arrow_down.png)
              display: block
              width: 33px
              height: 40px
              background-repeat: no-repeat
              position: absolute
              top: -50px
              left: 30px
// шаги
.steps
  padding: 25px 0
  .container
    .titleBlock
      @include titleBlock
    .steps
      &_list
        display: grid
        grid-template-columns: repeat(2, 1fr)
        align-items: start
        grid-template-areas: 'step1 .' 'arrow step2'
        padding: 0 75px
        grid-gap: 60px 40px
        position: relative
        @media screen and (max-width: 1024px)
          grid-template-columns: 1fr
          grid-template-areas: 'step1' 'step2'
        @media screen and (max-width: 428px)
          padding: 0 10px
      &_item
        display: flex
        flex-direction: column
        align-items: flex-start
        position: relative
        &:nth-child(1)
          grid-area: step1
          .steps_item--circlesBlock
            position: absolute
            left: 85%
            bottom: 75px
            z-index: -1
            @media screen and (max-width: 1024px)
              display: none
            .dots
              position: absolute
              left: 210px
        &:nth-child(2)
          grid-area: step2
          .steps_item--stepNumber
            &::before
              content: ''
              display: block
              position: absolute
              left: -140px
              top: -40px
              width: 126px
              height: 88px
              background-image: url(@img/arrow_downRight.svg)
              @media screen and (max-width: 1024px)
                display: none
          .steps_item--circlesBlock
            position: absolute
            right: 460px
            top: 270px
            bottom: 75px
            z-index: -1
            @media screen and (max-width: 1024px)
              display: none
            .dots
              position: absolute
              right: 10px
              top: -20
        &--stepNumber
          font-weight: 700
          font-size: 24px
          line-height: 29px
          letter-spacing: 0.03em
          color: #292929
          display: flex
          align-items: center
          justify-content: center
          background-color: $mainColor
          padding: 15px 30px
          border-radius: 5px 50px 50px 5px
          margin-bottom: 30px
        &--stepTime
          background: rgba(255, 243, 85, 0.15)
          border-radius: 15px
          padding: 12px 40px
          color: rgba(41, 41, 41, 0.5)
          margin-bottom: 15px
        &--list
          background: #FFFFFF
          border: 1px solid #F3F3F3
          box-shadow: 0px 4px 34px -13px rgba(78, 78, 78, 0.4)
          border-radius: 10px
          padding: 45px
          @media screen and (max-width: 428px)
            padding: 25px
          ol
            display: flex
            flex-direction: column
            gap: 40px
            margin-bottom: 0
            padding-left: 50px
            li
              list-style-type: decimal-leading-zero
              &::marker
                font-style: normal
                font-weight: 700
                font-size: 20px
                letter-spacing: 0.05em
                color: #292929
                padding-right: 19px
//Форма 1
.form_1
  padding: 75px 0
  .container
    .wrapper
      background: #292929
      border-radius: 20px
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 40px
      padding: 80px 65px
      align-items: center
      @media screen and (max-width: 768px)
        grid-template-columns: 1fr
      @media screen and (max-width: 428px)
        padding: 40px 25px
      .form_1
        &_list
          display: flex
          align-items: flex-start
          justify-content: center
          flex-direction: column
          &--title
            font-weight: 700
            font-size: 24px
            line-height: 1.5em
            letter-spacing: 0.03em
            color: #fff
            margin-bottom: 15px
          span
            font-weight: 600
            font-size: 16px
            line-height: 1.5em
            color: #FFFFFF
          ul
            display: flex
            flex-direction: column
            gap: 20px
            margin-top: 45px
            li
              display: list-item
              list-style-image: url(@img/check.svg)
              color: #fff
              font-weight: 400
              font-size: 15px
              line-height: 25px
        &_form
          form
            background: #FFFFFF
            border: 1px solid #F3F3F3
            box-shadow: 0px 4px 34px -13px rgba(6, 169, 3, 0.4)
            border-radius: 10px
            display: flex
            flex-direction: column
            padding: 40px 30px
            max-width: 364px
            width: 100%
            margin: 0 auto
            @media screen and (max-width: 375px)
              padding: 40px 20px
            label
              background: #FFFFFF
              border: 1px solid #ECF4EC
              border-radius: 10px
              display: flex
              flex-direction: column
              gap: 8px
              font-weight: 500
              font-size: 11px
              line-height: 13px
              letter-spacing: 0.03em
              color: rgba(54, 54, 54, 0.5)
              padding: 10px 25px
              margin-top: 30px
              margin-bottom: 50px
              input
                font-weight: 600
                font-size: 15px
                line-height: 18px
                letter-spacing: 0.03em
                color: #363636
                border: none
                outline: none
                width: 100%
            button[type="submit"]
              @include btn
          &--title
            font-weight: 700
            font-size: 18px
            line-height: 22px
            letter-spacing: 0.03em
            color: #363636
          &--subtitle
            font-weight: 400
            font-size: 13px
            line-height: 16px
            color: #959595
//CardsBlock 1
.cardsBlock
  padding: 50px 0 25px
  .container
    .titleBlock
      @include titleBlock
    .cardsBlock
      &_list
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 40px
        @media screen and (max-width: 1024px)
          grid-template-columns: 1fr
      &_item
        background: #FFFFFF
        border: 1px solid #F3F3F3
        box-shadow: 0 4px 34px -13px rgba(78, 78, 78, 0.4)
        border-radius: 10px
        padding: 28px
        &--title
          font-weight: 700
          font-size: 18px
          line-height: 22px
          letter-spacing: 0.03em
          color: #363636
          min-height: 66px
        &--text
          font-style: normal
          font-weight: 400
          font-size: 15px
          line-height: 18px
          color: #292929
      &_btns
        display: flex
        align-items: center
        justify-content: center
        margin-top: 47px
        button
          @include btn
.cardsBlock_style2
  padding: 50px 0 30px
  .container
    .titleBlock
      @include titleBlock
    .cardsBlock
      &_list
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 40px
        @media screen and (max-width: 1024px)
          grid-gap: 10px
        @media screen and (max-width: 768px)
        @media screen and (max-width: 428px)
          grid-template-columns: 1fr
      &_item
        background: #FFFFFF
        border: 1px solid #F3F3F3
        box-shadow: 0 4px 34px -13px rgba(78, 78, 78, 0.4)
        border-radius: 10px
        padding: 28px
        align-items: center
        justify-content: center
        &--title
          font-weight: 700
          font-size: 24px
          line-height: 29px
          letter-spacing: 0.03em
          color: #363636
          margin-bottom: 13px
          text-align: center
        &--text
          font-style: normal
          font-weight: 400
          font-size: 15px
          line-height: 18px
          color: #292929
          text-align: center
          display: flex
      &_btns
        display: flex
        align-items: center
        justify-content: center
        margin-top: 47px
        button
          @include btn
//Для кого подходит
.whoSuits
  padding: 70px 0 25px
  .container
    .wrapper
      position: relative
      border-top: 2px solid
      border-bottom: 2px solid
      border-color: #292929
      padding: 84px 100px 48px
      @media screen and (max-width: 428px)
        padding: 50px 20px
      .whoSuits
        &--title
          position: absolute
          left: 0
          right: 0
          display: flex
          align-items: center
          justify-content: center
          top: -40px
          span
            background: #292929
            border: 1px solid #F3F3F3
            border-radius: 10px
            padding: 27px 69px
            font-weight: 700
            font-size: 18px
            line-height: 22px
            letter-spacing: 0.03em
            text-transform: uppercase
            color: #FFFFFF
        &--text
          p
            margin-bottom: 0
            font-weight: 500
            font-size: 24px
            line-height: 2.5em
            text-align: center
            @media screen and (max-width: 428px)
              line-height: 1.5em
//Сравнение
.compare
  padding: 25px 0
  .container
    .titleBlock
      @include titleBlock
    .wrapper
      @media screen and (max-width: 768px)
        overflow: auto
      .compare
        &_container
          table
            width: 100%
            tr
              display: grid
              grid-template-columns: 2fr 1fr 1.5fr
              grid-gap: 54px
              @media screen and (max-width: 768px)
                grid-template-columns: 250px 150px 250px
                grid-gap: 10px
            thead
              tr
                td
                  padding: 26px 35px
                  background: #FFFFFF
                  //border: 1px solid #ECF4EC
                  border-radius: 10px
                  display: flex
                  align-items: center
                  justify-content: flex-start
                  font-weight: 700
                  font-size: 15px
                  line-height: 18px
                  letter-spacing: 0.03em
                  color: #363636
                  @media screen and (max-width: 1024px)
                    padding: 10px 15px
            tbody
              margin-top: 20px
              tr
                border-radius: 10px
                background-color: #fff
                &:nth-child(even)
                  background-color: #F5F5F6
                td
                  padding: 21px 35px
                  font-weight: 500
                  font-size: 15px
                  line-height: 18px
                  letter-spacing: 0.03em
                  color: #363636
                  @media screen and (max-width: 1024px)
                    padding: 10px 15px
//Для кого подходит
.message
  padding: 70px 0 25px
  .container
    .wrapper
      position: relative
      border-top: 2px solid
      border-color: #292929
      padding: 84px 100px 50px
      @media screen and (max-width: 1024px)
        padding: 84px 10px 50px
      &::after
        content: ''
        width: 100%
        height: 37px
        position: absolute
        background-image: url(@img/underline.svg)
        background-repeat: no-repeat
        position: absolute
        left: 0
        bottom: 0
    .message
      &--title
        position: absolute
        left: 0
        right: 0
        display: flex
        align-items: center
        justify-content: center
        top: -40px
        span
          background: #292929
          border: 1px solid #F3F3F3
          border-radius: 10px
          padding: 27px 69px
          font-weight: 700
          font-size: 18px
          line-height: 22px
          letter-spacing: 0.03em
          color: #FFFFFF
      &--text
        p
          font-weight: 500
          font-size: 15px
          line-height: 30px
          color: #363636
      &_footer
        padding: 10px 150px 0
      &_btns
        margin-top: 47px
        display: flex
        align-items: center
        justify-content: center
        button
          @include btn
      &_author
        display: flex
        flex-direction: row
        align-items: center
        &--photo
        &--text
          display: flex
          flex-direction: column
          span
            &.position
              font-weight: 400
              font-size: 13px
              line-height: 25px
              color: #292929
            &.name
              font-weight: 600
              font-size: 15px
              line-height: 18px
              letter-spacing: 0.02em
              color: #292929
// Портфолио "Карточки"
.portfolioCards
  padding: 25px 0
  .container
    .titleBlock
      @include titleBlock
    .portfolioCards
      &_list
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 46px
        padding: 0 65px
        @media screen and (max-width: 1024px)
          grid-template-columns: repeat(2, 1fr)
          grid-gap: 14px
          padding: 0 0
        @media screen and (max-width: 768px)
        @media screen and (max-width: 428px)
          grid-template-columns: repeat(1, 1fr)
      &_item
        background: #FFFFFF
        box-shadow: 0px 4px 34px -13px rgba(0, 0, 0, 0.3)
        border-radius: 12px
        display: flex
        flex-direction: column
        align-items: center
        padding: 20px 34px
        &--image
          a
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
            border-radius: 10px
            overflow: hidden
            img, picture
        &--shortInfo
          margin: 15px 0 0
          &_text
            span
              &.title
                font-weight: 400
                font-size: 15px
                line-height: 18px
                color: #292929
            &--dolg
              display: flex
              flex-direction: column
              align-items: flex-start
              span
                &.summ
                  font-weight: 600
                  font-size: 15px
                  line-height: 18px
                  color: #292929
                  padding: 10px 15px
                  background: rgba(255, 243, 85, 0.15)
                  border-radius: 10px
            &--otherInfo
              margin-top: 10px
              display: flex
              flex-direction: column
              gap: 9px
              align-items: flex-start
              span
                &.time
                  font-weight: 400
                  font-size: 15px
                  line-height: 18px
                &.city
                  font-weight: 400
                  font-size: 13px
                  line-height: 16px
                  color: #959595
                  display: flex
                  flex-direction: row
                  align-items: center
                  gap: 7px
                  &::before
                    display: block
                    content: ''
                    width: 5px
                    height: 5px
                    background: $mainColor
                    border-radius: 50px
            &--client
              display: flex
              flex-direction: column
              align-items: flex-start
              margin-top: 10px
              span
                &.number
                  margin-top: 10px
                  font-size: 13px
                  line-height: 16px
                  color: #959595
          &_buttons
            margin-top: 25px
            a, button
              @include btn
              padding: 16px 30px !important
      &_btnBlock
        display: flex
        align-items: center
        justify-content: center
        margin-top: 40px
        a
          @include btn()
//Частые вопросы
.question_answer
  padding: 25px 0
  .container
    .titleBlock
      @include titleBlock
  .question_answer
    &--wrapper
      padding: 0 65px
      @media screen and (max-width: 1024px)
        padding: 0 0
    &--list
      padding: 46px
      background: #FFFFFF
      border: 1px solid #F3F3F3
      box-shadow: 0px 4px 34px -13px rgba(78, 78, 78, 0.4)
      border-radius: 10px
    &--item
      border: none !important
      h2
        border-bottom: 1px solid rgba(102, 102, 102, 0.2)
        button
          font-weight: 700
          font-size: 18px
          line-height: 22px
          color: #292929
          &:not(.collapsed)
            background-color: transparent
          &:focus
            border: none
            box-shadow: none
      .accordion-collapse
// Модалка
.modal.modal_form
  .btn-close
    position: absolute
    right: 10px
    top: 10px
  .modal
    &-dialog
      max-width: 364px
    &-content
      background-color: transparent
      border: none
    &-body
      padding: 0
  form
    background: #FFFFFF
    border: 1px solid #F3F3F3
    box-shadow: 0px 4px 34px -13px rgba(6, 169, 3, 0.4)
    border-radius:   10px
    display: flex
    flex-direction: column
    padding: 40px 30px
    max-width: 364px
    width: 100%
    margin: 0 auto
    @media screen and (max-width: 375px)
      padding: 40px 20px
    label
      background: #FFFFFF
      border: 1px solid #ECF4EC
      border-radius: 10px
      display: flex
      flex-direction: column
      gap: 8px
      font-weight: 500
      font-size: 11px
      line-height: 13px
      letter-spacing: 0.03em
      color: rgba(54, 54, 54, 0.5)
      padding: 10px 25px
      margin-top: 30px
      margin-bottom: 50px
      input
        font-weight: 600
        font-size: 15px
        line-height: 18px
        letter-spacing: 0.03em
        color: #363636
        border: none
        outline: none
        width: 100%
    button[type="submit"]
      @include btn
.modal.modal_cityList
  .modal-body
    display: grid
    grid-template-columns: repeat(3, 1fr)
    padding: 10px !important
    grid-gap: 10px 50px
    a
      width: max-content
      color: #000
      text-decoration: none
      font-weight: 500
.form_1
  &_form
    &--title
      font-weight: 700
      font-size: 18px
      line-height: 22px
      letter-spacing: 0.03em
      color: #363636
    &--subtitle
      font-weight: 400
      font-size: 13px
      line-height: 16px
      color: #959595
//Пагинация
.pagination
  .nav-links
    display: flex
    flex-direction: row
    justify-content: space-between
    gap: 10px
  a, span
    background-color: $mainColor
    border: 2px solid $mainColor
    box-sizing: border-box
    padding: 15px
    color: #292929
    border-radius: 10px
    font-weight: 600
    font-size: 17px
    line-height: 1em
    text-decoration: none
    display: flex
    align-items: center
    justify-content: center
    transition: background-color 0.3s
  a
    background-color: transparent
    &:hover
      background-color: $hoverColor